@import url(http://fonts.googleapis.com/css?family=Roboto:300); 
.panel{
  position: absolute;top: 0;bottom: 300px;left: 0;right: 600px;
  width: 400px;
  height: 140px;
  padding: 50px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  background: #f22d2d;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
}

.wrap{ 
  position: relative;
  overflow: hidden;
  z-index: 0;  
  background: #fff;
  box-shadow: -1px -1px 1px rgba(0,0,0,.4),
              1px 1px 1px rgba(255,255,255,.4);
}
.wrap:after,
.wrap:before{
  content: '交易系统';
  display: block;
  position: absolute;
  top: 0;left: 0;
  overflow: hidden;
  line-height: 44px;
  color:rgba(255,255,255,.3);
  font-size: 20px;
  width: 100%;height: 50%;
  background: #000;
  z-index: 1;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
  transition:.3s all;
  -webkit-transition:.3s all;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}
.wrap:before{
  top: auto;
  bottom: 0;
  line-height: 0px;
}
.wrap:hover:after{
  top: -50%;
}
.wrap:hover:before{
  bottom: -50%;
}

.panel_1{
  position: absolute;top: 0px;bottom: 300px;left: 600px;right: 0px;
  width: 400px;
  height: 140px;
  padding: 50px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  background: #feaa02;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
}
.wrap_1{
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: #fff;
  box-shadow: -1px -1px 1px rgba(0,0,0,.4),
  1px 1px 1px rgba(255,255,255,.4);
}
.wrap_1:after,
.wrap_1:before{
  content: '红包系统';
  display: block;
  position: absolute;
  top: 0;left: 0;
  overflow: hidden;
  line-height: 44px;
  color:rgba(255,255,255,.3);
  font-size: 20px;
  width: 100%;height: 50%;
  background: #000;
  z-index: 1;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
  transition:.3s all;
  -webkit-transition:.3s all;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}
.wrap_1:before{
  top: auto;
  bottom: 0;
  line-height: 0px;
}
.wrap_1:hover:after{
  top: -50%;
}
.wrap_1:hover:before{
  bottom: -50%;
}

.panel_2{
  position: absolute;top: 100px;bottom: 0px;left: 0px;right: 600px;
  width: 400px;
  height: 140px;
  padding: 50px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  background: #59cc17;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
}
.wrap_2{
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: #fff;
  box-shadow: -1px -1px 1px rgba(0,0,0,.4),
  1px 1px 1px rgba(255,255,255,.4);
}
.wrap_2:after,
.wrap_2:before{
  content: '......';
  display: block;
  position: absolute;
  top: 0;left: 0;
  overflow: hidden;
  line-height: 44px;
  color:rgba(255,255,255,.3);
  font-size: 20px;
  width: 100%;height: 50%;
  background: #000;
  z-index: 1;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
  transition:.3s all;
  -webkit-transition:.3s all;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}
.wrap_2:before{
  top: auto;
  bottom: 0;
  line-height: 0px;
}
.wrap_2:hover:after{
  top: -50%;
}
.wrap_2:hover:before{
  bottom: -50%;
}

.panel_3{
  position: absolute;top: 500px;bottom: 0px;left: 600px;right: 0px;
  width: 400px;
  height: 140px;
  padding: 50px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  background: #FF3E96;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
}
.wrap_3{
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: #fff;
  box-shadow: -1px -1px 1px rgba(0,0,0,.4),
  1px 1px 1px rgba(255,255,255,.4);
}
.wrap_3:after,
.wrap_3:before{
  content: '......';
  display: block;
  position: absolute;
  top: 0;left: 0;
  overflow: hidden;
  line-height: 44px;
  color:rgba(255,255,255,.3);
  font-size: 20px;
  width: 100%;height: 50%;
  background: #000;
  z-index: 1;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
  transition:.3s all;
  -webkit-transition:.3s all;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}
.wrap_3:before{
  top: auto;
  bottom: 0;
  line-height: 0px;
}
.wrap_3:hover:after{
  top: -50%;
}
.wrap_3:hover:before{
  bottom: -50%;
}

.panel_4{
  position: absolute;top: 500px;bottom: 0px;left: 0px;right: 600px;
  width: 400px;
  height: 140px;
  padding: 50px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  background: #836FFF;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
}
.wrap_4{
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: #fff;
  box-shadow: -1px -1px 1px rgba(0,0,0,.4),
  1px 1px 1px rgba(255,255,255,.4);
}
.wrap_4:after,
.wrap_4:before{
  content: '......';
  display: block;
  position: absolute;
  top: 0;left: 0;
  overflow: hidden;
  line-height: 44px;
  color:rgba(255,255,255,.3);
  font-size: 20px;
  width: 100%;height: 50%;
  background: #000;
  z-index: 1;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
  transition:.3s all;
  -webkit-transition:.3s all;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}
.wrap_4:before{
  top: auto;
  bottom: 0;
  line-height: 0px;
}
.wrap_4:hover:after{
  top: -50%;
}
.wrap_4:hover:before{
  bottom: -50%;
}

.panel_5{
  position: absolute;top: 100px;bottom: 0px;left: 600px;right: 0px;
  width: 400px;
  height: 140px;
  padding: 50px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  background: #00BFFF;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
}
.wrap_5{
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: #fff;
  box-shadow: -1px -1px 1px rgba(0,0,0,.4),
  1px 1px 1px rgba(255,255,255,.4);
}
.wrap_5:after,
.wrap_5:before{
  content: '......';
  display: block;
  position: absolute;
  top: 0;left: 0;
  overflow: hidden;
  line-height: 44px;
  color:rgba(255,255,255,.3);
  font-size: 20px;
  width: 100%;height: 50%;
  background: #000;
  z-index: 1;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
  transition:.3s all;
  -webkit-transition:.3s all;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}
.wrap_5:before{
  top: auto;
  bottom: 0;
  line-height: 0px;
}
.wrap_5:hover:after{
  top: -50%;
}
.wrap_5:hover:before{
  bottom: -50%;
}

.panel_6{
  position: absolute;top: 900px;bottom: 0px;left: 0px;right: 600px;
  width: 400px;
  height: 140px;
  padding: 50px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  background: #FFB90F;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
}
.wrap_6{
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: #fff;
  box-shadow: -1px -1px 1px rgba(0,0,0,.4),
  1px 1px 1px rgba(255,255,255,.4);
}
.wrap_6:after,
.wrap_6:before{
  content: '......';
  display: block;
  position: absolute;
  top: 0;left: 0;
  overflow: hidden;
  line-height: 44px;
  color:rgba(255,255,255,.3);
  font-size: 20px;
  width: 100%;height: 50%;
  background: #000;
  z-index: 1;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
  transition:.3s all;
  -webkit-transition:.3s all;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}
.wrap_6:before{
  top: auto;
  bottom: 0;
  line-height: 0px;
}
.wrap_6:hover:after{
  top: -50%;
}
.wrap_6:hover:before{
  bottom: -50%;
}

.panel_7{
  position: absolute;top: 900px;bottom: 0px;left: 600px;right: 0px;
  width: 400px;
  height: 140px;
  padding: 50px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  background: #D5AC80;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
}
.wrap_7{
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: #fff;
  box-shadow: -1px -1px 1px rgba(0,0,0,.4),
  1px 1px 1px rgba(255,255,255,.4);
}
.wrap_7:after,
.wrap_7:before{
  content: '......';
  display: block;
  position: absolute;
  top: 0;left: 0;
  overflow: hidden;
  line-height: 44px;
  color:rgba(255,255,255,.3);
  font-size: 20px;
  width: 100%;height: 50%;
  background: #000;
  z-index: 1;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
  transition:.3s all;
  -webkit-transition:.3s all;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}
.wrap_7:before{
  top: auto;
  bottom: 0;
  line-height: 0px;
}
.wrap_7:hover:after{
  top: -50%;
}
.wrap_7:hover:before{
  bottom: -50%;
}

.panel_8{
  position: absolute;top: 1300px;bottom: 0px;left: 0px;right: 600px;
  width: 400px;
  height: 140px;
  padding: 50px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  background: #D5AC80;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
}
.wrap_8{
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: #fff;
  box-shadow: -1px -1px 1px rgba(0,0,0,.4),
  1px 1px 1px rgba(255,255,255,.4);
}
.wrap_8:after,
.wrap_8:before{
  content: '......';
  display: block;
  position: absolute;
  top: 0;left: 0;
  overflow: hidden;
  line-height: 44px;
  color:rgba(255,255,255,.3);
  font-size: 20px;
  width: 100%;height: 50%;
  background: #000;
  z-index: 1;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
  transition:.3s all;
  -webkit-transition:.3s all;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}
.wrap_8:before{
  top: auto;
  bottom: 0;
  line-height: 0px;
}
.wrap_8:hover:after{
  top: -50%;
}
.wrap_8:hover:before{
  bottom: -50%;
}

.panel_9{
  position: absolute;top: 1300px;bottom: 0px;left: 600px;right: 0px;
  width: 400px;
  height: 140px;
  padding: 50px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  background: #D5AC80;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
}
.wrap_9{
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: #fff;
  box-shadow: -1px -1px 1px rgba(0,0,0,.4),
  1px 1px 1px rgba(255,255,255,.4);
}
.wrap_9:after,
.wrap_9:before{
  content: '......';
  display: block;
  position: absolute;
  top: 0;left: 0;
  overflow: hidden;
  line-height: 44px;
  color:rgba(255,255,255,.3);
  font-size: 20px;
  width: 100%;height: 50%;
  background: #000;
  z-index: 1;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
  transition:.3s all;
  -webkit-transition:.3s all;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}
.wrap_9:before{
  top: auto;
  bottom: 0;
  line-height: 0px;
}
.wrap_9:hover:after{
  top: -50%;
}
.wrap_9:hover:before{
  bottom: -50%;
}


input{
  width: 100%;
  height: 44px;
  padding: 0 65px 0 10px;
  font-size: 16px;
  border:0;
  box-shadow: inset 1px 1px 11px rgba(0,0,0,.3);  
} 
input:focus { 
  outline: none; 
}
button{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 35px;
  cursor: pointer;
}


html{ height: 100%; margin: 0; padding: 0;font-family: 'Roboto', sans-serif;}
body{ 
  margin: 0;padding: 50px 0 0 0; 
  background: #cfe7fa;
background: -moz-radial-gradient(center, ellipse cover,  #cfe7fa 0%, #6393c1 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cfe7fa), color-stop(100%,#6393c1));
background: -webkit-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#6393c1 100%);
background: -o-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#6393c1 100%);
background: -ms-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#6393c1 100%);
background: radial-gradient(ellipse at center,  #cfe7fa 0%,#6393c1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=1 );

}
body *,body *:before, body *:after{  box-sizing: border-box; }
.right-eye,.left-eye{
  position: absolute;
  width: 61px;
  height: 61px;
  position: absolute;
  top: 19px;
  background: #fff;
  border-radius:50%;
  overflow: hidden;
  box-shadow: 0px 0 1px #fff, inset 0 0 15px rgba(0,0,0,.4);
}
.right-eye {
  left: 127px;
}
.left-eye {
  left: 50px;
}
.eye span{
  position: absolute;
  display: block;
  background: #000;
  border-radius:13px;
  width: 26px;
  height:26px; 
  left: 0;
  top:8px;
}
h5{
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #777;
}
text{
  position: relative;
  bottom: 680px;
  right: 50px;
  width: 50px;
  height: 35px;
}
